<launch>

<rosparam file="$(find braco_v2_description)/launch/controller.yaml" command="load"/>
<node args="Rev52_position_controller Rev63_position_controller Rev71_position_controller Rev81_position_controller Rev87_position_controller Rev88_position_controller Rev89_position_controller Rev93_position_controller joint_state_controller " name="controller_spawner" ns="braco_v2" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/braco_v2/joint_states"/>
</node>

</launch>